#calc{
    background-color: black;
    color: red;
}
#calc:hover{
    background-color: red;
    color:black;
    width: 100px;
    box-shadow: 10px 5px 5px grey;
}

#resultado{
    font-size: 150px;
    color: red;
    margin-left: 100px;
}